/* ----------------------------------------------------------------- */
/* --------------------- First Commit du Brief --------------------- */
/* ----------------------------------------------------------------- */
:root {
    --black: #1E1E1E;
    --white: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

button {
    background-color: unset;
    border: unset;
}

a {
    text-decoration: unset;
    color: unset;
}

#root,
#__next {
    isolation: isolate;
}

/* ----------------------- Le Body ----------------------- */
body {
    background-color: #343a40;
    color: white;
}

/* -------------------------------------------------------- */
/* ----------------------- Top Page ----------------------- */
/* -------------------------------------------------------- */
.topPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

h1 {
    font-size: 48px;
}

.headerDesc {
text-decoration: underline;
}

/* Styles de base pour les boutons */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transition pour hover */
    margin: 25px;
    width: 50%;
  }
  
  /* Effet survol (hover) */
  .btn:hover {
    transform: translateY(-3px); /* Animation de soulèvement */
  }
  
  /* Style spécifique pour le bouton "dark" */
  .btn-dark {
    background-color: #343a40;
    color: white;
  }
  
  .btn-dark:hover {
    background-color: #23272b;
  }

  /* ------------------- Liste des Monuments ------------------- */
  .monuments {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
  }

  /* ------------------- Tour Eiffel ------------------- */
  .eiffel-tower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
  }
  
  #eiffelTowerImg {
    display: block;
    width: 100%;
    max-height: 375px;
    object-fit: cover;
    border: solid 1px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    filter: blur(5px) grayscale(100%);
  }

  #eiffelTowerImg:hover {
    filter: blur(0px) grayscale(0%);
    cursor: pointer;
  }

  /* ------------------- Notre-Dame ------------------- */
  .notre-dame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
  }
  
  #notreDameImg {
    display: block;
    width: 100%;
    max-height: 375px;
    object-fit: cover;
    border: solid 1px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    filter: blur(5px) grayscale(100%);
  }

  #notreDameImg:hover {
    filter: blur(0px) grayscale(0%);
    cursor: pointer;
  }

  /* ------------------- Arc de Triomphe ------------------- */
  .arch-of-triumph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
  }
  
  #archOfTriumphImg {
    display: block;
    width: 100%;
    max-height: 375px;
    object-fit: cover;
    border: solid 1px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    filter: blur(5px) grayscale(100%);
  }

  #archOfTriumphImg:hover {
    filter: blur(0px) grayscale(0%);
    cursor: pointer;
  }

  /* ------------------- Mont Saint-Michel ------------------- */
  .mont-saint-michel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
  }
  
  #montSaintMichelImg {
    display: block;
    width: 100%;
    max-height: 375px;
    object-fit: cover;
    border: solid 1px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    filter: blur(5px) grayscale(100%);
  }

  #montSaintMichelImg:hover {
    filter: blur(0px) grayscale(0%);
    cursor: pointer;
  }

  /* ------------------- Versailles ------------------- */
  .versailles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
  }
  
  #versaillesImg {
    display: block;
    width: 100%;
    max-height: 375px;
    object-fit: cover;
    border: solid 1px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    filter: blur(5px) grayscale(100%);
  }

  #versaillesImg:hover {
    filter: blur(0px) grayscale(0%);
    cursor: pointer;
  }

/* ----------------------------------------------------------- */
/* ----------------------- Bottom Page ----------------------- */
/* ----------------------------------------------------------- */
.bottomPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 50px;
    margin-bottom: 25px;
}

#monumentLocation {
    
    font-size: 24px;
}

#map {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 685px;
    width: 685px;
    border: solid 2px;
}

/* Faire slides les informations depuis la gauche */
@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%); /* Positionne le texte en dehors de l'écran à gauche */
      opacity: 0; /* Rendre le texte transparent */
  }
  100% {
      transform: translateX(0); /* Retourne à la position d'origine */
      opacity: 1; /* Rendre le texte visible */
  }
}

.slidein {
  animation: slideInFromLeft 1s ease-out forwards;
}